h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}
.main {
  min-height: 100vh;
  margin-left: 240px;
  padding-top: 30px;
  background: #f4f3f0;
}
body {
  font-size: 16px;
  background: #f3f5f6;
}
.sidebar {
  border-right: 1px solid #cfd8dc;
}
.sidebar-nav-list,
.sidebar-nav-list .sidebar-nav-list,
.sidebar-nav-list > li,
.sidebar-nav-list .sidebar-nav-list > li {
  padding: 0;
  margin: 0;
}
.sidebar-nav-list li a {
  padding: 10px 20px;
  background: #495761;
  border-radius: 0;
  color: white;
  border-top: 1px solid #cfd8dc;
}
.navLinks__user span {
  border-top: none;
  background: #00adef;
  padding: 10px 20px !important;
  border-radius: 0;
  color: white;
}
.navLinks__user {
  position: relative;
}
.user__img {
  position: absolute;
  width: 32px;
  top: 5px;
  right: 20px;
}
.sidebar-nav-list li a:hover {
  background: #9f0029;
}
.sidebar-nav-list .sidebar-nav-list li a {
  background: #cfd8dc;
  color: black;
  padding: 10px 20px;
  border-top: none;
  display: flex;
  justify-content: space-between;
}
.form-headline {
  color: black;
}
/* .tile-main .wbc:first-child,
.tile-main .wbc a:first-child {
    background: #9e002d !important;
}

.tile-main .wbc,
.tile-icon .wbc a {
    background: #f5e5e9;
}

.tile-main .sgb:first-child,
.tile-main .sgb a:first-child {
    background: #002f6c !important;
}

.tile-main .sgb,
.tile-icon .sgb a {
    background: #e5eaf0;
} */
.btn-product-new {
  margin-right: 10px;
}
.rates-body .navLinks__rates a {
  background: #9f0029;
}
.product-landing-body .navLinks__product a {
  background: #9f0029;
}
.reports-body .navLinks__reports a {
  background: #9f0029;
}
.settings-body .navLinks__settings a {
  background: #9f0029;
}
.pending-approvals-body .navLinks__user--pending-approvals a {
  background: white !important;
  color: #d5002b !important;
}
.pending-requests-body .navLinks__user--pending-requests a {
  background: white !important;
  color: #d5002b !important;
}
.open-banking-body .navLinks__open-banking a {
  background: white !important;
  color: #d5002b !important;
}
.portfolio-members-body .navLinks__portfolio-members a {
  background: white !important;
  color: #d5002b !important;
}
.website-traceability-body .navLinks__websites-tracedability a {
  background: white !important;
  color: #d5002b !important;
}
.external-traceability-body .navLinks__external-traceability a {
  background: white !important;
  color: #d5002b !important;
}
.change-logs-body .navLinks__change-logs a {
  background: white !important;
  color: #d5002b !important;
}
.action-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 12px;
}
.modal.is-open {
  display: table;
}
.tabcordion .tabcordion-tabs .tabcordion-tab a {
  font-size: 14px;
}

.select-brand-wrapper {
  display: flex;
  justify-content: space-between;
}
.create-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
#create-modal-btn {
  margin-left: 8px;
}

div.jsoneditor-menu {
  background: #495761;
  border-bottom: 1px solid #495761;
}
div.jsoneditor .jsoneditor-search td {
  padding: 2px 0;
}
.content-body .jsoneditor-value:not(.jsoneditor-array) {
  color: #495761;
}
.content-final-body .jsoneditor-value:not(.jsoneditor-array) {
  background: none;
  padding: 9px 10px 9px 0;
  color: #006000;
}
.content-final-body div.jsoneditor-value[contenteditable='true']:hover {
  border: 1px solid transparent;
}
.content-edit-body div.jsoneditor-field {
  min-width: 130px;
}
.content-edit-body .jsoneditor-value {
  position: relative;
}
.content-edit-body .jsoneditor-value:after {
  position: absolute;
  left: calc(100% + 10px);
  width: 100%;
  color: #006000;
}
.content-edit-body tr[data-field='effectiveFrom'] .jsoneditor-value:after {
  content: '2018-11-28T00:00:00Z';
}
.content-edit-body tr[data-field='effectiveTo'] .jsoneditor-value:after {
  content: '2019-04-02T00:00:00Z';
}
.content-edit-body tr[data-field='lastUpdated'] .jsoneditor-value:after {
  content: '2019-04-04T01:26:51.854523Z';
}
.content-final-body tr[data-field='undefined'] .jsoneditor-contextmenu,
.content-final-body tr[data-field='undefined'] .jsoneditor-dragarea {
  display: none;
}
.jsoneditor-tree select {
  background-color: #f3f5f6 !important;
  color: #2d373e;
  border: transparent;
  margin: 0 0 0 10px;
}
.input-field:read-only {
  cursor: default;
  color: #495761;
}
.icon-transfer {
  background-image: url(../img/icon-transfer.svg);
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
div.jsoneditor td.field-controls {
  vertical-align: middle;
  padding: 0;
}
div.jsoneditor td.field-controls span {
  margin-right: 4px;
  display: none;
}
tr[data-field='undefined'] td.field-controls span {
  display: block;
}

.product-tabs .collapsible-body .tabcordion-body {
  padding-left: 0;
  padding-right: 0;
}
.tabcordion-content {
  padding-left: 3.22%;
  padding-right: 3.22%;
}
.product-submit-container {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #d7d2cb;
  padding: 24px 3.22% 0;
}
.product-submit-container select {
  margin-right: 8px;
}
.product-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.product-detail-container .product-detail {
  margin-right: 18px;
}

.sidebar {
  z-index: 1;
}
.sidebar-nav-list span {
  margin: 0;
}
.sidebar-nav-list .notification-badge {
  display: none;
}
.side-nav-notification .sidebar-nav-list .notification-badge {
  display: inline-block;
}
