/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    background: #cbd2da;
    overflow: hidden;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    outline: none;
    cursor: url('../img/cursor1.png'), auto;
    z-index: 100;
    background: none;
    border: none;
    width: 100%;
    position: absolute;
    display: none;
}

/* My styles */
.image {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.image img {
    width: 100%;
}

.img-text {
    font-family: 'Pacifico';
    position: absolute;
    top: 210px;
    width: 400px;
    text-align: center;
    font-size: 56px;
    line-height: 1.6;
    left: 50%;
    transform: translateX(-50%);
}

.img-text-1,
.img-text-2 {
    font-family: 'Nunito';
    position: absolute;
    width: 320px;
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
    left: 50%;
    transform: translateX(-50%);
}

.img-text-1 {
    top: 154px;
}

.img-text-2 {
    top: 470px;
    color: white;
    font-size: 24px;
}

.main__wrapper {
    margin: 20px auto;
    height: 700px;
    width: 357px;
    position: relative;
}

.img__wrapper {
    width: 291px;
    height: 513px;
    position: relative;
    cursor: url('../img/cursor.png'), auto;
    left: 37px;
    top: 88px;
    /* overflow: hidden; */
    overflow-x: hidden;
    overflow-y: scroll;
    /* z-index: 1000; */
}

.phone__img {
    height: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    pointer-events: none;
}

.screen__img {
    display: none;
    position: absolute;
    width: 291px;
    z-index: 5;
    left: 0 !important;
    transition: all 0.3s ease-in-out;
}

.screen__card__wrapper {
    position: relative;
}

.btn {
    height: 514px;
    top: 0;
}

.btn__screen1 {
}

.active {
    left: 0 !important;
    display: block;
}

.active-bottom {
    bottom: 0 !important;
    display: block;
}

.show {
    display: block;
}

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}
.rippleEffect {
    animation: rippleDrop 0.3s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
